@font-face {
  font-family: "Smudger LET";
  src: url("../fonts/SmudgerLetPlain.eot");
  src: url("../fonts/SmudgerLetPlain.eot") format("embedded-opentype"),
    url("../fonts/fonts/SmudgerLetPlain.woff2") format("woff2"),
    url("../fonts/fonts/SmudgerLetPlain.woff") format("woff"),
    url("../fonts/fonts/SmudgerLetPlain.svg#SmudgerLetPlain") format("svg"),
    url("../fonts/Smudger.otf") format("opentype");
}

@font-face {
  font-family: "Staccato";
  src: url("../fonts/Staccato222BT-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

// main styles

// fonts

$primary-font: "Roboto", sans-serif;
$secondary-font: "Lobster", cursive;

// colours

$link-colour: #424242;
$primary-colour: #ff002b;
$secondary-colour: #c00d2b;
$main-section-color: #d8d8d8;
$fadedBlack: #00000073;
$heading-primary-colour: #000000;
$white: #ffffff;

// headings
.global-headline {
  text-align: center;
  margin-top: 3.9rem;
}

$main-heading: 6.5vw;
$sub-heading: 2.5vw;

h1 {
  font-size: 2.7rem;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 1rem;
}

p {
  font-family: $primary-font;
  padding-bottom: 1rem;
  font-size: 1.4rem
}

strong {
  font-size: 1.2rem;
}

.cc-btn{
  border-radius: 25px;
}

.cc-message{
  font-size: 1.2rem;
}

.asterisk {
  font-size: 2.8rem;
  color: $primary-colour;
  margin: 0 1.6rem;
  animation: spin 0.5s forwards;
  animation-delay: 0.7s;
}
// body

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

// links

.link {
  color: $white;
  text-decoration: none;
  font-size: 2rem;
}
.footer-link {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
}

// scroll bar
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-colour;
  border-radius: 10px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary-colour;
}

// Header section
.hero {
  // background: url("/img/Zebra\ logo\ neu.jpeg") center no-repeat;
  // background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -1;
}

// .hero:before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 100px;
//     z-index: 10000
// }
// .hero:after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 10000
// }

.logo {
  position: absolute;
  top: 0;
  width: 120px;
  left: 50%;
  transform: translate(-50%);
}

.hero-img {
  position: fixed;
  top: 160px;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  background-image: url("../img/Zebra logo neu.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  text-align: center;
}

.hero-border {
  position: fixed;
  top: 50px;
  width: calc(50% - 12px - 100px);
  height: 100%;
}

.hero-border:after,
.hero-border:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px $primary-colour solid;
  border-bottom: none;
  pointer-events: none;
}

.hero-border:after {
  top: 24px;
  height: calc(100% - 24px);
}

.hero-border-left {
  left: 24px;
}

.hero-border-left:after,
.hero-border-left:before {
  border-right: none;
  border-top-left-radius: 24px;
}

.hero-border-left:before {
  left: 24px;
}

.hero-border-right {
  right: 24px;
}

.hero-border-right:after,
.hero-border-right:before {
  border-left: none;
  border-top-right-radius: 24px;
}

.hero-border-right:before {
  right: 24px;
}

// nav section
.nav {
  width: 100%;
  text-align: center;
  left: 0;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

.nav-bottom {
  position: absolute;
  bottom: 0;
}

.nav-top {
  position: fixed;
  top: 0;
  z-index: 1;
}

li {
  margin: 0 2.4rem;
  display: inline-block;
  padding: 2rem;
}

.fromLeft:after {
  display: block;
  content: "";
  border-bottom: 2px solid $primary-colour;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

li:hover:after {
  transform: scaleX(1);
}

li.fromLeft:after {
  transform-origin: 0% 50%;
}

.nav-link {
  text-decoration: none;
  color: $link-colour;
  font-family: $primary-font;
  font-size: 2rem;
  font-weight: 200;
}

.scrolling-active {
  // background-color: $white;
  transition: all 0.3s ease-in-out;
}

.nav-ul-top {
  background-color: #1e2223;
}

.nav-link-top {
  color: $white;
}

.li-top {
  padding: 2rem;
}

#burger {
  display: none;
}

.main-heading {
  font-family: "Smudger LET";
  font-size: $main-heading;
  color: $heading-primary-colour;
  letter-spacing: 0.8rem;
  position: relative;
  text-transform: uppercase;
  // -webkit-text-stroke: 0.01rem white;
  text-shadow: 3px 3px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white,
    -1px 1px 0 $white, 1px 1px 0 $white;
}

#heading {
  position: relative;
}

.sub-heading {
  font-family: "Staccato";
  font-size: $sub-heading;
  color: $primary-colour;
  position: relative;
  letter-spacing: 0.1rem;
}

.first-letter {
  font-family: "Staccato", cursive;
  font-size: 2.5rem;
  color: $primary-colour;
}

main {
  z-index: 100000;
  font-size: 2.4rem;
  background-color: $white;
  font-family: $primary-font;
  // background-image: url("../img/Smoke.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: $white;
  background-image: url("../img/Zebra-Pattern-Red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-scroll {
  box-shadow: 0px -9px 26px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.between {
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.full {
  padding: 100px 200px;
}

// open
.open {
  background: url("../img/vape.jpeg") center no-repeat;
  background-size: cover;
}

// maps
.map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.map-full {
  width: 100%;
  height: 400px;
  background-color: grey;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bg-fade {
  position: absolute;
}

.bg-fade:after {
  background-color: #1e2223;
  content: "";
  position: absolute;
  left: -25%;
  top: 100%;
  transform: translateY(-10%);
  height: 25vw;
  width: 150%;
  z-index: 1;
  filter: blur(50px);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.line {
  border-bottom: 1px solid $primary-colour;
}

.row {
  display: inline-grid;
  padding: 1rem;
  font-size: 2.5rem;
}

.row-map {
  padding: 1rem;
}

.day {
  width: auto;
  text-transform: uppercase;
}

.open-top {
  background-color: #1e2223;
  display: inline-block;
  padding: 2rem;
  color: $white;
  text-align: center;
  flex: 0 1 450px;
  margin: 10px;
}

.open-section-title {
  font-size: 2rem;
  padding: 2rem;
}

.hours {
  color: $main-section-color;
}

.hours-closed {
  color: $link-colour;
}

// about

.about {
  background: url("../img/Zebra_black.jpeg") center no-repeat;
  background-position: top;
  background-size: cover;
}

// locations
.locations {
  background: url("../img/Dampf_Zebra/Ubach11.jpg") center no-repeat;
  background-size: cover;
}

.location {
  flex: 0 1 450px;
  margin: 10px;
  position: relative;
}

.location-img {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 450px;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url("../img/Zebra-Pattern.svg");
  background-size: cover;
  background-position: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.location-text {
  font-size: 2rem;
  color: $white;
  background-color: $fadedBlack;
  padding: 1rem;
}

.location:hover .overlay {
  opacity: 1;
}

.location:hover .location-img {
  opacity: 0.7;
  transform: scale(1.01);
}

.span-location {
  font-size: 2rem;
  text-align: center;
  color: $primary-colour;
}

// Ubach

.fade-in {
  display: block !important;
  animation: fade-in 2s;
}

.fade-out {
  display: none;
  animation: fade-out 0.5s;
}

.full-hidden {
  display: none;
  position: relative;
  padding: 100px 0px;
  min-height: 150vh;
}


footer {
  background-color: #1e2223;
  padding: 90px 0;
  color: $white;
  z-index: 10000;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  margin-right: 25px;
  color: #ffffff;
  font-size: 4rem;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: $primary-colour;
}

.right-col{
  text-align: center;
}

.left-col{
  text-align: center;
}
.right-col .h1-footer {
  font-size: 2.6rem;
}

.border {
  height: 4px;
  background: $primary-colour;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 25px;
  min-width: 260px;
}

.btn-email {
  padding: 18px 40px;
  font-size: 1.6rem;
  /* padding: 10px 20px; */
  transition: all 0.5s;
  color: #f1f1f1;
  border: solid 2px$primary-colour;
  background: $primary-colour;
  border-bottom: solid 2px $secondary-colour;
  font-weight: 700;
  outline: none;
  border-radius: 25px;
  min-width: 260px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  text-decoration: none;
}

.btn-email:hover {
  opacity: 0.7;
}

.p-footer {
  padding: 5px;
  font-size: 1.2rem;
}

// animations

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// summary

summary {
  position: relative;
  padding: 2em;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &::-webkit-details-marker {
    color: transparent;
  }
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

details[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -10px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 1.2em;
  text-align: left;
  line-height: 2.5rem;
}

.grid-item img {
  width: 100%;
}

.data-protection {
  background-color: $main-section-color;
  padding: 10rem;
  font-size: 3rem;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .hero-img {
    position: fixed;
    top: 160px;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    background-image: url("../img/mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-heading {
    font-family: "Smudger LET";
    font-size: 3rem;
    color: $heading-primary-colour;
    letter-spacing: 0.8rem;
    position: relative;
    text-transform: uppercase;
    // -webkit-text-stroke: 0.01rem white;
    text-shadow: 3px 3px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white,
      -1px 1px 0 $white, 1px 1px 0 $white;
  }
  #heading {
    position: relative;
  }

  .sub-heading {
    font-family: "Staccato";
    font-size: 1.5rem;
    color: $primary-colour;
    position: relative;
    letter-spacing: 0.1rem;
  }
  .full {
    padding: 10px;
  }

  .nav-top {
    position: fixed;
    top: -225px;
    z-index: 1;
    display: block;
  }

  .nav-ul-top li {
    display: block;
  }

  .nav-top-responsive {
    top: 0;
    transition: linear 0.3s;
    span:nth-child(1) {
      top: 7px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
      background: $primary-colour;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      background: $primary-colour;
    }
    span:nth-child(4) {
      top: 7px;
      width: 0%;
      left: 50%;
    }
  }

  .header-burger {
    height: 50px;
  }
  #burger {
    display: block;
  }
  .burger > div {
    display: inline-block;
    width: 24px;
    height: 16px;
    position: relative;
    top: 3px;
    margin: 0px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #f9f8f6;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:first-child {
    top: 0px;
  }

  .burger span:nth-child(2),
  .burger span:nth-child(3) {
    top: 7px;
  }
  .burger span:nth-child(4) {
    top: 14px;
  }

  .footer-container{
    justify-content:center;
  }
}
